body {
    font-family: Courier;
    text-align: center;
    margin: 0;
    color: #333;
    padding-top: 20px;
    font-size: 16px;
}

div.arizonaday {
    font-size: 6.25em;
}

h1 {
    font-weight: 400;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 4px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    width: 120px;
    height: 130px;
}

.card-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 40px 0;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5em;
    }

    div.arizonaday {
        font-size: 3em;
    }

    .card {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
        height: auto;
    }

    .card img {
        width: 30px; 
        margin-right: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
    .card {
        background-color: #000;
    }
}