body {
    font-family: Courier;
    text-align: center;
    margin: 0;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

div.arizonaday {
    font-size: 100px;
}

h1 {
    font-weight: 400;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

    width: 120px;
    height: 130px;
}

.card-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 40px 0;
}
