<!doctype html>

<link rel="stylesheet" type="text/css" href="static/style.css">
<title>{% block title %}{{ arizonaday}} is Arizona day!{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content %}

<img src="../static/logo.png"/>
<h1>The best day to go to Arizona this week is</h1>
<br/>
<div class="arizonaday"><mark>{{ arizonaday }}</mark></div>

{% if arizonaday == "Friday" %}
    <br/>
    <div class="warning">(but don't forget today is <b>Pastel</b> day at Tiozinho!)</div> 
{% endif %}

<div class="flex-column-center">
    <div class="card-grid">
        {% for day in rains.keys() %}
        <div class="card">
            <div>{{ day }} {{ rains[day] }}%</div>
            <img src={{icons[day]}} />
        </div>
        {% endfor %}
    </div>
</div>

<div>
    Next week's day:
    {{ nextarizonaday }}
    (prob. {{ nextweeksrains[nextarizonaday] }}%)
</div>

<div>
    <br/>
    <img src="static/churras.gif" alt="Partiu Churras?" width="200"/>
</div>

{% endblock %}
